[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adaptMCMC"]
	path = adaptMCMC
	url = https://github.com/scheidan/adaptmcmc
	subdir = adaptMCMC
[submodule "WaMaSim"]
	path = WaMaSim
	url = https://github.com/scheidan/wamasim
